Package: com.3h6-1.imread
Name: IMRead
Version: 1.2.1
Architecture: iphoneos-arm64
Description: Automatically marks messages as read after clearing their notifications
Maintainer: 3h6_1
Author: 3h6_1
Section: Tweaks
Depends: firmware (>= 15.0)
